@media all and (max-width:880px) {
  .new li{
    font-size: 1.4rem !important;
  }
  .bar{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 340px;
    transition: 0.7s ease-in;
  }
  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    



  }
  .left a{
    margin: 20px 0px;
  }
  .inc{
    height: 40px;
   
  }
.burg{
  display: block;
  position: absolute;
  top:5px;
  right: 5px;

}
.rr{
  opacity: 0;
}
.ll{
  opacity: 0;
}

.next{
  flex-wrap: wrap;
}
.what{
  flex-direction: column;
  align-items: center;

}
.lw{
  flex: 100%;
  width:100%;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
      justify-content: center;
      align-items: center;
 
}
  .lw .load{
  width:100% !important;
  
  }
.rw{
  flex: 100%;
  width:100%;
  margin: auto;
  display: flex;
  flex-direction: column;
      align-items: center;

}
.pbox{
  width:70%;

}
.price{
  flex-wrap: wrap;
}
  
}
@media all and (max-width:550px){
.next{
 
  align-items:center;

}
  .box h2{
  font-size:1.25rem !important;
  
  }
  .box p{
  font-size:0.8rem !important;
  
  }
  .box i{
  font-size:2rem !important;
  
  }
  .fooo{
  font-size: 0.5rem !important;
  flex-direction: column !important;
}
  .headd {
 
  height: 50vh !important;
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0) !important;
}
.list{
  margin:0px 35px;
}

  .box 
.pbox{
  width:70%;

}
button{
  font-size: 15px;
}
 h1{
  font-size: 1.4rem;
}
 p{
  font-size: 0.6rem;
}
h3{
  font-size: 1.3rem;
}
.pbox h2{
  font-size: 1.5rem;
}

.next{
  

  align-items: center;
}

}
@media all and (max-width:700px){
.mbox{
  flex-direction: column;
  align-items: center;
  height: 40vh !important;
}
.mbox img{
  width:150px !important;
  height: 150px !important;
  margin: 20px !important;
}
.boxxxx h2 {
  font-size: 1.25rem !important;
  margin: 10px;
}
h1{
font-size: 1.29rem !important;
}
.mbox h1{
  font-size:8rem;
}
.inside{
  font-size: 1.5rem;
}

.box{
  font-size: 1rem;
}
.box h2{
  font-size: 2rem;
}
.box p{
  font-size: 0.7rem !important;
}
.form h1{
  font-size: 2rem  !important;
}

  }
  .form p{
    text-align: center;
  }
  .form h1{
    text-align: center;
  }
  .hg{
    float: right;
    position: sticky;
    bottom: 10px;
    right: 10px;

  }
  .ggggg{
    background-color:rgb(83, 201, 248);
    color: white;
    font-size: 1.5rem;
   
  }
  .ggggg:hover{
    background-color: black;
  }
  html{
    scroll-behavior: smooth;
  }