.next {
  margin: 40px 20px;
  display: flex;
  justify-content: center;
}
.box {
  margin: 10px;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media all and (max-width:840px) {
  .box{
    width:auto !important;
  }
  
}
.box i {
  color: rgb(83, 201, 248);
  font-size: 4rem;
}
.box h2 {
    font-family: 'Montserrat', sans-serif;
  margin: 10px 0px 20px 0px;
  font-size: 2.5rem;
  text-align: center;
}
.box p {
  padding: 0px 15px;
}

p {
  font-size: 1.25rem;
}
.box:hover {
    box-shadow: 2px 2px 20px 2.5px black;
    transform: translateY(-15px);
  }